@import '/src/assets/styles/mixins.scss';

.pokemon-list {
    @include flexRow(center, center, 10px);
    flex-wrap: wrap;
    padding: 20px 0;

    .pokemon-card {
        color: #e4e4e4;
        border-radius: 10px;
        cursor: pointer;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}