.img-container {
    width: 130px;
    height: 130px;
    background-color: #525252;
    border: #232323 solid 1px;
}

.pokemon-overview {
    background-color: #232323;
    padding: 10px;
    max-width: 130px;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .type-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .type {
            color: white;
            padding: 5px;
            border-radius: 5px;
        }

        .fire {
            background-color: #f08030;
        }

        .grass {
            background-color: #78c850;
        }

        .water {
            background-color: #6890f0;
        }

        .bug {
            background-color: #a8b820;
        }

        .normal {
            background-color: #a8a878;
        }

        .poison {
            background-color: #a040a0;
        }

        .electric {
            background-color: #f8d030;
        }

        .ground {
            background-color: #e0c068;
        }

        .fairy {
            background-color: #ee99ac;
        }

        .fighting {
            background-color: #c03028;
        }

        .psychic {
            background-color: #f85888;
        }

        .rock {
            background-color: #b8a038;
        }

        .ghost {
            background-color: #705898;
        }

        .ice {
            background-color: #98d8d8;
        }

        .dragon {
            background-color: #7038f8;
        }

        .dark {
            background-color: #705848;
        }

        .steel {
            background-color: #b8b8d0;
        }

        .flying {
            background-color: #a890f0;
        }
    }
}